@CHARSET "UTF-8";

/*header*/

div#header p, div#header h1, div#header ul {
	margin: 0;
	padding: 0;
}

div#logo a:focus,
div#logo a:hover,
div#logo a:active,
div#logo a:visited,
div#logo a {
	display: inline-block;
	color: #ECF0F1;
}

div#header {
	height: 85px;
	border-bottom: 2px solid #FFF;  /*EDIT PER STYLESHEET*/
}

div#header-inside {
	font-family: Arial, Helvetica;
	padding: 0;
}

div#logo h1 a {
	height: 40px;
	width: auto;
	min-width: 75px;
	float: left;
	color: #ECF0F1;
	padding: 10px 0px 0px 40px;
	text-decoration: none;
	font-size: 18px;
	margin: 0px 0px 0px 5px;
}
div#logo.geoTurboLogo h1 a {
	padding-left: 60px;
}
div#logo h1 a span {
	/* The smaller text under the main */
	font-size: 18px;
	vertical-align: top;
}

div.geoCoreLogo h1 a {
	background: url('../admin_images/design/header_logo_geocore.png') no-repeat; /*EDIT PER STYLESHEET*/
	color: #ECF0F1;
}

div.geoTurboLogo h1 a {
	background: url('../admin_images/design/header_logo_geoturbo.png') no-repeat;
	color: #ECF0F1;
}

div.geoCoreLogo a.slogan,
div.geoTurboLogo a.slogan {
	font-size: 12px;
	font-style: italic;
	width: 100%;
	text-align: center;
}


p#geodesic {
	float: right;
	height: 31px;
	width: 350px;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: right;
	color: #ECF9FF;
	font-size: 12px;
	font-family: Arial, Helvetica;
	font-weight: bold; 
}

p#geodesic a {
	color: #FFFFFF;
	font-size: 14px;
	text-decoration: none;
}

p#geodesic span {
	display: block;
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
	padding-top: 3px;
}

/*horizontal header menu*/

ul.topAdminTabs {
	clear: both;
	
	list-style: none;
	position: absolute;
	top: 58px;
	right: 10px;
}

ul.topAdminTabs.leftTabs {
	left: 10px;
}

ul.topAdminTabs li {
	float: left;
	margin-left: 2px;
	line-height: 1.4;
}

ul.topAdminTabs li a {
	color: #085DAD;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	width: 100px;
	height: 17px;
	padding: 5px 0;
	display: block;
	background-image: url(../admin_images/design/tab.gif); /*EDIT PER STYLESHEET*/
	background-repeat: no-repeat;
	background-position: center left;
	font-size: 12px;
}

ul.topAdminTabs li a:hover, ul#menu li a:active {
	background-position: top left;
}

ul.topAdminTabs li a.selected {
	background-position: bottom left;
}
