@CHARSET "UTF-8";

.configBox{
    border: 1px solid #EAEAEA;
    margin: 5px 5px 5px 8px;
    background-color: white;
}

.btn_require {
    float: left;
    width: 200px;
    text-align: center;
}

.itemTitle {
    float: left;
    padding-top: 4px;
}

.btn_config {
    float: right;
    width: 200px;
    text-align: right;
    padding-right: 4px;
}